---
layout: default
title: Goals
menu: index
---


<div class="container">
	<div class="row row-cards">
		<div class="col-sm-2">
			<div class="card">
				<div class="card-body p-3 text-center">
					<div class="h1 m-0">60</div>
					<div class="text-muted mb-4">Total Goals</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body p-3 text-center">
					<div class="h1 m-0">43</div>
					<div class="text-muted mb-4">Total Employees</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="card">
				<div class="card-body text-center">
					<div  style="height: 12rem">
						<div class="h5">Goals per Employee</div>
						<div class="display-4 font-weight-bold mb-4">2</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			{% include cards/chart.html height=11 title="65% Complete" id="chart-gauge-completed" data="completed" %}
		</div>
		<div class="col-sm-3">
			{% include cards/chart.html height=10 title="65% Employees with Goal" id="chart-gauge-emp-with-goals" data="gauge-emp-with-goals" %}
		</div>
		<div class="col-sm-2">
			<div class="card">
				<div class="card-body text-center">
					<div style="height: 12rem">
						<div class="h5">Last updated Median</div>
						<div class="display-4 font-weight-bold mb-4">4</div>
						<div class="text-muted mb-4">Days ago</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row row-cards">
		<div class="col-sm-4">
			{% include cards/chart.html height=12 title="Goal Progress" id="chart-donut-goal-grogress" data="donut-goal-grogress" %}
		</div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<div id="chart-goal-risk-meter" style="height: 12rem"></div>
					<div class="h5 text-center">Goal Risk Meter</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<div id="chart-goal-recent-update" style="height: 12rem"></div>
					<div class="h5 text-center">Goal Recent updates</div>
				</div>
			</div>					
		</div>
	</div>

	<div class="row row-cards">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<div id="chart-goal-progress" style="height: 16rem"></div>
					<div class="h5 text-center">Overall Goal Progress</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<div id="chart-goal-location-progress" style="height: 16rem"></div>
					<div class="h5 text-center">Location wise Goal Progress</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-header">
		<h1 class="page-title">
			Completed Goals
		</h1>
	</div>
	<div class="row row-cards">
		<div class="col-sm-12 col-lg-2">
			<div class="card">
				<div class="card-body text-center">
					<div class="h5">Completed Goals</div>
					<div class="display-4 font-weight-bold mb-4">60</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-10">
			<div class="row row-cards">
				<div class="col-sm-6 col-lg-4">
					<div class="card p-3">
						<div class="d-flex align-items-center">
							<span class="stamp stamp-md bg-yellow mr-3">
								<i class="fe fe-clock"></i>
							</span>
							<div>
								<h4 class="m-0">
									<a href="javascript:void(0)">2
										<small>Goals</small>
									</a>
								</h4>
								<small class="text-muted">Need Improvement</small>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="card p-3">
						<div class="d-flex align-items-center">
							<span class="stamp stamp-md bg-green mr-3">
								<i class="fe fe-check"></i>
							</span>
							<div>
								<h4 class="m-0">
									<a href="javascript:void(0)">5
										<small>Goals</small>
									</a>
								</h4>
								<small class="text-muted">Outsatnding</small>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="card p-3">
						<div class="d-flex align-items-center">
							<span class="stamp stamp-md bg-red mr-3">
								<i class="fe fe-x"></i>
							</span>
							<div>
								<h4 class="m-0">
									<a href="javascript:void(0)">2
										<small>Goals</small>
									</a>
								</h4>
								<small class="text-muted">Meets Expectation</small>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="card p-3">
						<div class="d-flex align-items-center">
							<span class="stamp stamp-md bg-red mr-3">
								<i class="fe fe-x"></i>
							</span>
							<div>
								<h4 class="m-0">
									<a href="javascript:void(0)">2
										<small>Goals</small>
									</a>
								</h4>
								<small class="text-muted">Bla la</small>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="card p-3">
						<div class="d-flex align-items-center">
							<span class="stamp stamp-md bg-red mr-3">
								<i class="fe fe-x"></i>
							</span>
							<div>
								<h4 class="m-0">
									<a href="javascript:void(0)">2
										<small>Goals</small>
									</a>
								</h4>
								<small class="text-muted">Bla Bla</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>