--- 
layout: default 
title: Goals 
---

<div class="container">
    <div class="row row-cards">
        <div class="col-sm-6 col-lg-3">
            {% include cards/icon-box.html color="blue" icon="fe fe-target" value="10" description="Goals" subtitle="Total" %}
        </div>
        <div class="col-sm-6 col-lg-3">
            {% include cards/icon-box.html color="yellow" icon="fe fe-clock" value="3" description="Goals" subtitle="In Progress" %}
        </div>
        <div class="col-sm-6 col-lg-3">
            {% include cards/icon-box.html color="green" icon="fe fe-check" value="5" description="Goals" subtitle="Complete"
            %}
        </div>
        <div class="col-sm-6 col-lg-3">
            {% include cards/icon-box.html color="red" icon="fe fe-x" value="2" description="Goals" subtitle="Overdue" %}
        </div>
    </div>
    <div class="card p-5">
        <div class="media">
            <div class="media-object mr-4">
                <div class="mx-auto chart-circle chart-circle-sm" data-value="0.42" data-thickness="3" data-color="blue">
                    <canvas width="80" height="80" style="height: 40px; width: 40px;"></canvas>
                    <canvas width="80" height="80" style="height: 40px; width: 40px;"></canvas>
                    <div class="chart-circle-value">42%</div>
                </div>
                <a href="#" class="icon w-100 d-block text-center mt-1">
                    <i class="fe fe-trash" data-toggle="tooltip" title="" data-original-title="Delete Goal"></i>
                </a>
            </div>
            <div class="media-body">
                <div class="media-heading">
                    <div class="row mt-2 float-right" style="width:250px;margin-right:6px;padding-top:20px;">
                        <div class="col">
                            <h6 class="m-0">
                                <i class="fe fe-calendar" data-toggle="tooltip" title="" data-original-title="fa fa-calendar"></i>
                                Start date
                            </h6>
                            <p class="text-muted mb-0">April 22, 2018</p>
                        </div>
                        <div class="col">
                            <h6 class="m-0">
                                <i class="fe fe-calendar" data-toggle="tooltip" title="" data-original-title="fa fa-calendar"></i>
                                End date
                            </h6>
                            <p class="text-muted mb-0">April 22, 2018</p>
                        </div>
                    </div>
                    <h5  style="margin-right: 250px;">Grow Our Corporate Global Business</h5>
                </div>
                <div class="media-body">
                </div>
                <div style="margin-right: 300px;">
                    Defining what great customer service means in your organization is a way to set the standard and communicate internally. For example, hone in on whether you want to provide one-touch resolution or proactive support, or whether you’re focused on phone support or on-site support.
                </div>
                <h5 class="pt-5">Milestones</h5>
                <div class="table-responsive">
                    <table class="table no-rows table-vcenter mb-0">
                        <tbody>
                            <tr>
                                <td class="w-1">
                                    <i class="fe fe-square" data-toggle="tooltip" title="" data-original-title="Click to mark Complete"></i>
                                </td>
                                <td class="w-75">Hit company global sales target of $100 Million in Sales</td>
                                <td class="text-right text-muted d-none d-md-table-cell text-nowrap">May 6, 2018</td>
                                <td class="text-right text-muted d-none d-md-table-cell text-nowrap">May 20, 2018</td>
                                <td class="w-1">
                                    <a href="#" class="icon">
                                        <i class="fe fe-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-1">
                                    <i class="fe fe-check-square" data-toggle="tooltip" title="" data-original-title="Click to m mark in complete"></i>
                                </td>
                                <td class="w-75">Achieve 100% year-to-year sales growth in the EMEA geography</td>
                                <td class="text-right text-muted d-none d-md-table-cell text-nowrap">May 21, 2018</td>
                                <td class="text-right text-muted d-none d-md-table-cell text-nowrap">May 31, 2018</td>
                                <td class="w-1">
                                    <a href="#" class="icon">
                                        <i class="fe fe-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <button type="button" class="btn btn-link">
                        <i class="fe fe-plus-square mr-2"></i>Create Milestone</button>
                </div>
                <div class="table-responsive d-none">
                    <table class="table no-rows table-vcenter">
                        <tr>
                            <td class="w-50">
                                <div class="form-group mb-0">
                                    <div class="input-icon">
                                        <input type="text" class="form-control" placeholder="Milestone">
                                    </div>
                                </div>
                            </td>
                            <td class="text-muted d-none d-md-table-cell text-nowrap">
                                <div class="form-group mb-0">
                                    <div class="input-icon">
                                        <input type="text" class="form-control" placeholder="Start Date">
                                        <span class="input-icon-addon">
                                            <i class="fe fe-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-muted d-none d-md-table-cell text-nowrap">
                                <div class="form-group mb-0">
                                    <div class="input-icon">
                                        <input type="text" class="form-control" placeholder="End Date">
                                        <span class="input-icon-addon">
                                            <i class="fe fe-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="w-1">
                                <button type="submit" class="btn btn-default">Cancel</button>
                            </td>
                            <td class="w-1">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <h5 class="pt-3">Feedback</h5>
                <ul class="media-list">
                    <li class="media mt-4">
                        <div class="media-object avatar mr-4" style="background-image: url(demo/faces/female/17.jpg)"></div>
                        <div class="media-body">
                            <strong>Debra Beck: </strong>
                            This objective implies your organization is trying to increase its earnings or profits. For publicly traded companies, a common way to look at this is through “earnings per share.” This can be measured quarterly and/or annually.
                        </div>
                    </li>
                    <li class="media mt-4">
                        <div class="media-object avatar mr-4" style="background-image: url(demo/faces/male/32.jpg)"></div>
                        <div class="media-body">
                            <strong>Jack Ruiz: </strong>
                            On the other side of revenue is the costs or expenses in your business. As you grow (or shrink) you need to carefully manage cost—so this may be an important objective for you.
                        </div>
                    </li>
                    <li class="media mt-4">
                        <div class="media-object avatar mr-4" style="background-image: url(demo/faces/male/32.jpg)"></div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Feedback">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary">
                                    <i class="fe fe-message-square"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


